<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercício 1 - João Paulo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1 style="color: darkgreen" v-text='titulo_exercicio'></h1>
        <div>
            <label for="nome">Nome:</label>
            <input @keydown="dados_informados=false" v-model="nome" type="text" name="nome" id="nome" placeholder="Digite seu nome"><BR>
        </div><BR>
        <div>
            <label for="unidade">Em qual unidade você está alocado?</label><BR><BR>
            <select @change="dados_informados=false" v-model="unidadeselecionada" name="unidade" id="unidade">
                <option></option>
                <option v-for='unidade in unidades' v-text='unidade.unidade' :value='unidade.codigo' ></option>
            </select>
        </div><BR>

        <div>
            <label for="atividades">Atividades da empresa:</label><BR><BR>
            <textarea @keydown="dados_informados=false" v-model="atividades" name="atividades" id="atividades" cols="30" rows="10" placeholder="Digite suas atividades"></textarea>
        </div>
        <div>
            <input type="button" @click='mostraDados' value="Mostrar Dados">
        </div>


        <div v-if="dados_informados">
            <h1 style="color: darkorange">Resultado</h1>
            <div><strong>Nome:</strong><span v-text="nome"></span></div>
            <div><strong>Unidade:</strong><span v-text="unidadeselecionada"></span></div>
            <div><strong>Atividades:</strong><span v-text="atividades"></span></div>
        </div>
    </div>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                titulo_exercicio: 'Exercício 1 - João Paulo',
                unidades: [
                {codigo:1 , unidade:"Sede"},
                {codigo:2 , unidade:"Tupis"},
                ],
                unidadeselecionada: '',
                nome: '',
                atividades: '',
                dados_informados: false,
            },
            methods:{
                verificaDados(){
                    this.dados_informados = ((this.unidadeselecionada!='') && (this.nome!='') && (this.atividades!=''));
                    return this.dados_informados;
                },
                mostraDados(){
                    if (!this.verificaDados()){
                        alert('Informe tudo!');
                    }
                }
            }
        })
    </script>
</body>
</html>